@using SFA.DAS.Admin.Aan.Web.Extensions
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.EventFilterChoices
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Event date
        </legend>
        <div class="govuk-form-group">
            <label class="govuk-label" for="fromDate">
                From date
            </label>
            <input class="govuk-input" id="fromDate" name="fromDate" type="date" value="@Model.FromDate?.ToApiString()">
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="toDate">
                To date
            </label>
            <input class="govuk-input" id="toDate" name="toDate" type="date" value="@Model.ToDate?.ToApiString()">
        </div>
    </fieldset>
</div>