@using SFA.DAS.Admin.Aan.Application.Extensions
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.NetworkEventsViewModel

<h2 class="govuk-heading-m das-search-results__heading">
    We cannot find the location you entered
</h2>

<p class="govuk-body">We do not recognise @Model.SearchedLocation.</p>
<p class="govuk-body">Check the location you've entered or enter a different a location that's nearby.</p>