 @using SFA.DAS.Admin.Aan.Web.Infrastructure 
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.NetworkEventsViewModel 
@{
    ViewData["Title"] = "Search Network Events";

    var totalCountDescription = $"{Model.TotalCount} results";
    if (Model.TotalCount == 1)
    {
        totalCountDescription = "1 result";
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Manage events</h1>
        <p> Create a new network even or search to update, manage or publish existing network events you have created. You can archive or delete network events that are no longer taking place.</p>
        <form asp-route="@RouteNames.CreateEvent.CreateNewEvent" method="GET">
            <button type="submit" class="govuk-button" id="create-event">Create event</button>
        </form>
    </div>
</div>
 <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">
         <div class="das-show-hide" data-module="das-show-hide">
             <div class="das-filter das-!-show--from-tablet das-show-hide__section" id="events-filter" tabindex="0">
                 <div class="das-filter__header">
                     <h2 class="das-filter__heading">Filter</h2>
                 </div>
                 <partial name="_SelectedEventFilters" />
                 <div class="das-filter__body das-!-show--from-tablet" id="events-filter-options">
                     <form asp-route="@RouteNames.NetworkEvents" method="GET">
                         <button type="submit" class="govuk-button" id="filters-submit">Apply filters</button>
                         <partial name="_FilterEventDates" Model="Model.FilterChoices" />
                        <partial name="_FilterDetails" Model="Model.FilterChoices.EventStatusChecklistDetails" />
                         <partial name="_FilterDetails" Model="Model.FilterChoices.EventTypeChecklistDetails" />
                         <partial name="_FilterDetails" Model="Model.FilterChoices.RegionChecklistDetails" />
                         <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
                     </form>
                 </div>
             </div>
             <button class="govuk-button das-filter__toggle das-show-hide__button govuk-visually-hidden" data-button-string="filter " data-aria-controls="events-filter" aria-expanded="true">Show filter </button>
         </div>
     </div>
     <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-m">@totalCountDescription</h2>
         <p class="govuk-body govuk-!-margin-bottom-6  govuk-visually-hidden">
             Sorted by:
             <span class="govuk-!-font-weight-bold">Name</span>
         </p>
         <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
         <div class="das-search-results">
             <partial name="_CalendarEvents"/>
         </div>
         <partial name="_Pagination" Model="@Model.PaginationViewModel"/>
     </div>
 </div>