@* @model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.NetworkEventsViewModel *@
@{
    ViewData["Title"] = "Search Network Events";

    // var totalCountDescription = $"{Model.TotalCount} results";
    // if (Model.TotalCount == 1)
    // {
    //     totalCountDescription = "1 result";
    // }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Manage events</h1>
        <p> Create a new network even or search to update, manage or publish existing network events you have created. You can archive or delete network events that are no longer taking place.</p>
  
        <button type="submit" class="govuk-button" id="create-event">Create event</button>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">122 results</h2>
        <p class="govuk-body govuk-!-margin-bottom-6  govuk-visually-hidden">
            Sorted by:
            <span class="govuk-!-font-weight-bold">Name</span>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
        <div class="das-search-results">
            <ol class="das-search-results__list">

                <li class="das-search-results__list-item">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters das-!-float-right">
                            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
                                Completed
                            </strong>
                            <h2 class="govuk-heading-m das-search-results__heading">
                                North west regional network update event 
                            </h2>
                            <dl class="das-definition-list das-definition-list--inline">
                                <dt class="das-definition-list__title">Event type</dt>
                                <dd class="das-definition-list__definition">Event type here</dd>
                                <dt class="das-definition-list__title">123</dt>
                                <dd class="das-definition-list__definition">Signed up</dd>
                            </dl>
                            <div class="govuk-button-group govuk-!-margin-bottom-0">
                                <a href="#" class="govuk-link">Make changes</a>
                                <a href="#" class="govuk-link">Cancel event</a>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-body app-date">
                                <span class="app-date__day">28</span>
                                <span class="app-date__month">Jul</span>
                            </div>
                            <strong class="govuk-tag app-tag app-tag--Hybrid">Hybrid</strong>
                        </div>
                    </div>
                </li>

                <li class="das-search-results__list-item">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters das-!-float-right">
                            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
                                Cancelled
                            </strong>
                            <h2 class="govuk-heading-m das-search-results__heading">
                                North west regional network update event 
                            </h2>
                            <dl class="das-definition-list das-definition-list--inline">
                                <dt class="das-definition-list__title">Event type</dt>
                                <dd class="das-definition-list__definition">Event type here</dd>
                                <dt class="das-definition-list__title">123</dt>
                                <dd class="das-definition-list__definition">Signed up</dd>
                            </dl>
                            <div class="govuk-button-group govuk-!-margin-bottom-0">
                                <a href="#" class="govuk-link">Make changes</a>
                                <a href="#" class="govuk-link">Cancel event</a>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-body app-date">
                                <span class="app-date__day">28</span>
                                <span class="app-date__month">Jul</span>
                            </div>
                            <strong class="govuk-tag app-tag app-tag--InPerson">In person</strong>
                        </div>
                    </div>
                </li>

                <li class="das-search-results__list-item">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters das-!-float-right">
                            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
                                Cancelled
                            </strong>
                            <h2 class="govuk-heading-m das-search-results__heading">
                                North west regional network update event 
                            </h2>
                            <dl class="das-definition-list das-definition-list--inline">
                                <dt class="das-definition-list__title">Event type</dt>
                                <dd class="das-definition-list__definition">Event type here</dd>
                                <dt class="das-definition-list__title">123</dt>
                                <dd class="das-definition-list__definition">Signed up</dd>
                            </dl>
                            <div class="govuk-button-group govuk-!-margin-bottom-0">
                                <a href="#" class="govuk-link">View details</a>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-body app-date">
                                <span class="app-date__day">28</span>
                                <span class="app-date__month">Jul</span>
                            </div>
                            <strong class="govuk-tag app-tag app-tag--Online">Online</strong>
                        </div>
                    </div>
                </li>


            </ol>
        </div>
    </div>
</div>