@* @using SFA.DAS.Admin.Aan.Web.Models.ManageEvent *@
@* @model PreviewEventViewModel *@
@* <h2 class="govuk-heading-m">When and where</h2> *@
@* <p><b>Date and Time:</b> @Model.StartDate @Model.StartTime to @Model.EndTime</p> *@
@* <p><b>Online:</b> joining details provided on sign up</p> *@