@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.EventPublishedViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have successfully published a network event
            </h1>

        </div>
        
        <h1 class="govuk-heading-l">
            What happens next?
        </h1>
        <p>
            You have successfully published a network event and it has been added to the events hub.  Ambassadors can now search for this event and sign up to attend. You are the main point of contact for ambassadors who have any questions, concerns or requests prior to the event itself.
        </p>
        <ul class="govuk-list app-icon-list">
            
                <li>
                <h2 class="govuk-heading-m"><a href="@Model.ManageEventsLink" class="govuk-link govuk-link--no-visited-state">Manage events</a></h2>
                    <p>Discover suitable events, manage your upcoming events and give feedback about events you have attended.</p>
                    <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-manage-events" /></svg>
                </li>
        </ul>
    </div>
</div>