@using SFA.DAS.Admin.Aan.Application.Extensions
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.PreviewEventViewModel
@{
    ViewData["Title"] = "Preview Calendar Event";
    // var onlineLinkDescription = string.IsNullOrEmpty(Model.OnlineEventLink)
    //     ? "-"
    //     : "Provided";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag app-tag app-tag--@Model.EventFormat.ToString()">@Model.EventFormat.GetDescription()</strong> <strong class="govuk-tag app-tag">@Model.EventType</strong>
        <h1 class="govuk-heading-xl govuk-!-margin-top-4">Title goes here</h1>
    </div>
</div>