@using SFA.DAS.Aan.SharedUi.Models.PublicProfile;

@model ConnectViaLinkedInViewModel

@if (!string.IsNullOrEmpty(Model.LinkedInUrl))
{
    
    <ul class="govuk-list app-icon-profile">
        <li>
            <h3 class="govuk-heading-m">Connect with @Model.FirstName on Linkedin</h3>
            <p>Send @Model.FirstName a connection request: <a href="@Model.LinkedInUrl" target="_blank" class="govuk-link govuk-link--no-visited-state">@Model.LinkedInUrl</a></p>
            <svg class="app-icon-profile__icon"><use href="/img/sprite.svg#icon-linkedin" /></svg>
        </li>
    </ul>
}
