.autocomplete__dropdown-arrow-down-wrapper {
  position: absolute;
  top: 7px;
  right: 7px;
}

@media (min-width: 40.0625em) {
  .autocomplete__dropdown-arrow-down-wrapper {
    top: 9px;
    right: 9px;
  }
}

.das-search-form__group .autocomplete__input {
  height: 40px;
}

@media (min-width: 40.0625em) {
  .das-search-form__group .autocomplete__wrapper {
    width: 100%;
  }
}

@media (min-width: 40.0625em) {
  .app-flex-row {
    display: flex;
    margin-bottom: 20px;
  }
}

.app-feature-box {
  padding: 20px;
  height: 100%;
  display: block;
  border: 1px solid #b1b4b6;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.app-feature-box__heading {
  margin-bottom: 15px;
}

.app-feature-box__content {
  margin-bottom: 0;
  font-size: 100%;
}

.govuk-error-message:empty {
  display: none;
}

.js-enabled .das-show-hide__button {
  display: inline-block;
}

.app-calendar {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 0;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .app-calendar__row {
    display: flex;
    align-items: end;
  }
}

.app-calendar__header,
.app-calendar__day {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.app-calendar__header {
  background: #2C7298;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}


.app-calendar__day {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 90px;
}

.app-calendar__day--empty {
  background: #eee;
}

.app-calendar__date {
  display: block;
  text-align: right;
  margin: 5px;
}

.app-calendar__date-day {
  padding: 5px;
  display: inline-block;
}

.app-calendar__date--today .app-calendar__date-day {
  background-color: #2C7298;
  color: #fff;
  min-width: 1.2em;
  border-radius: 50%;
  min-height: 1.2em;
  text-align: center;
}

.app-calendar__date-month {
  display: none;
}

.app-calendar__event {
  border-left: 8px solid #b1b4b6;
  background: #F3F2F1;
  font-weight: 700;
  font-size: 13px;
  padding: 7px;
  display: block;
  margin-top: 3px;
}

.app-calendar__event--Hybrid {
  border-color: #85994B;
}

.app-calendar__event--InPerson {
  border-color: #6F72AF;
}

.app-calendar__event--Online {
  border-color: #912B88;
}

a.app-calendar__event {
  text-decoration: none;
  color: #0b0c0c;
}

  a.app-calendar__event:hover {
    color: #0b0c0c;
    background-color: #ddd;
  }

  a.app-calendar__event:focus {
    background-color: #fd0;
    color: #0b0c0c;
    border-color: #0b0c0c;
  }

.app-calendar-legend {
  border-radius: 12px;
  max-width: 240px;
  padding: 10px 20px;
  border: 1px solid #b1b4b6;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #0b0c0c;
  float: right;
}

.app-calendar-legend__key {
  display: flex;
  margin: 3px 0;
  align-items: center;
}

.app-calendar-legend__colour {
  display: block;
  width: 50px;
  height: 9px;
  margin-right: 10px;
}

.app-calendar-legend__colour--hybrid {
  background-color: #85994b;
}

.app-calendar-legend__colour--inperson {
  background-color: #6f72af;
}

.app-calendar-legend__colour--online {
  background-color: #912b88;
}

.app-calendar-nav {
  float: right;
  display: flex;
  gap: 6px;
  clear: both;
}

.app-calendar-nav__link {
  background: #2C7298;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}

.app-calendar-nav__icon {
  fill: #fff;
  display: block;
  height: 15px;
  margin: 0 auto;
}

.app-calendar-nav__icon--prev {
  transform: rotate(180deg);
}

.app-calendar-nav__link:focus .app-calendar-nav__icon {
  fill: #000
}

.app-calendar-nav__link-title {
  display: none;
}

.app-icon-list {
  border-top: 1px solid #b1b4b6;
  margin-top: 40px;
}

  .app-icon-list > li {
    border-bottom: 1px solid #b1b4b6;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 100px;
    position: relative;
  }

.app-icon-list__icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  right: 0;
  margin-top: -30px;
  color: #1D3150;
}

.app-tag {
  text-transform: none;
  text-align: center;
  letter-spacing: 0;
  background: #505a5f;
}

@media (min-width: 40.0625em) {
  .das-search-results .app-tag {
    display: block;
  }
}

.app-tag--Hybrid {
  background-color: #85994b;
}

.app-tag--InPerson {
  background-color: #6f72af;
}

.app-tag--Online {
  background-color: #912b88;
}

.app-date {
  clear: both;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 40.0625em) {
  .app-date {
    text-align: center;
    margin-bottom: 15px;
  }

  .app-date__year {
    display: none;
  }

  .app-date__day,
  .app-date__month {
    display: block;
  }

  .app-date__day {
    font-size: 36px;
  }

  .app-date__month {
    text-transform: uppercase;
  }
}

.app-green-tick {
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  margin: 15px 0 0;
}

@media (min-width: 40.0625em) {
  .app-green-tick {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
  }

  .das-icon-list__icon {
    display: flex;
    position: relative;
    width: 1.2em;
    height: 1.2em;
  }
}

.app-green-tick-large {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.app-map-image {
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
}

@media (min-width: 40.0625em) {
  .app-speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 30px;
  }

  .app-speaker {
    width: 30%;
  }

    .app-speaker > p {
      margin-bottom: 0;
    }
}

.app-attendee-list {
  margin: 20px 0;
  border-top: 1px solid #b1b4b6;
}

  .app-attendee-list > li {
    padding: 10px 0;
    border-bottom: 1px solid #b1b4b6;
  }

.app-details .govuk-details__summary:before,
.app-details[open] > .govuk-details__summary:before {
  border-radius: 50%;
  border: 1px solid currentColor;
  width: 17px;
  height: 17px;
  -webkit-clip-path: none;
  clip-path: none;
}

.app-details .govuk-details__summary:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 6px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg)
}

.app-details[open] > .govuk-details__summary:after {
  transform: rotate(135deg);
  top: 10px
}

a.das-show-hide__button {
  position: relative;
  padding-left: 25px;
}

  a.das-show-hide__button:before {
    content: "";
    border-radius: 50%;
    border: 1px solid currentColor;
    width: 17px;
    height: 17px;
    clip-path: none;
    position: absolute;
    left: 0;
    top: 3px;
  }

  a.das-show-hide__button:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: 6px;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(-45deg)
  }

  a.das-show-hide__button[aria-expanded="false"]:after {
    transform: rotate(135deg);
    top: 10px
  }

.das-flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.app-pagination-nav {
  float: right;
}

.das-search-title {
    clear: both;
    float: left;
    margin-right: 7px;
    font-weight: 700;
    flex-basis: 35%;
}

.das-pagination-links > a, .das-pagination-links span {
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
}

.app-tag--Published {
  color: #005a30;background: #cce2d8;
}

.app-tag--Cancelled {
  color: #383f43;background: #eeefef;
}

.app-user-header {
    background-color: #1d70b8;
    margin-top: -10px;
    padding-top: 15px;
    padding-bottom: 5px
}

.app-user-header__name {
    color: #fff;
    margin: 10px 0
}

/* CK Editor Styles */

.ck-powered-by {
  display: none;
}

.app-editor .ck.ck-editor {
  border: 1px solid #0b0c0c;
}

.app-editor .ck-editor__editable {
  min-height: 150px;
}

.app-editor .ck.ck-toolbar {
  border: 1px solid #0b0c0c;
}

.app-editor .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: 1px solid #0b0c0c;
}

.app-editor .ck.ck-editor__main > .ck-editor__editable.ck-focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.app-editor .ck.ck-button.ck-on, .app-editor a.ck.ck-button.ck-on {
 background-color: #fd0;
 color: #0b0c0c;
}

.app-editor .ck-content ul,
.app-editor .ck-content ol {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

.app-time-separator {
  display: inline-block;
  margin-left: -15px;
  margin-right: 5px;
  position: relative;
  font-size: 19px;
}

.app-tag--Apprentice {
  background-color: #00703c;
}

.app-tag--Employer {
  background-color: #4c2c92;
}

.app-tag--RegionalChair {
  background-color: #5694ca;
}

