@model AdminHubViewModel
@{
    ViewData["Title"] = "Administrator hub";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Administrator hub</h1>
        <p>
            Welcome to your Apprenticeship Ambassador Network administrator hub, where you can manage network events, ambassadors in your region and data on past activities.
        </p>
        <ul class="govuk-list app-icon-list">
            @if (Model.HasManageEventsRole)
            {
                <li>
                    <h2 class="govuk-heading-m"><a href="@Model.ManageEventsUrl" class="govuk-link govuk-link--no-visited-state">Manage events</a></h2>
                    <p>Create and manage your upcoming events or look at previos events.</p>
                    <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-manage-events" /></svg>
                </li>
            }
            @if (Model.HasManageMembersRole)
            {
                <li>
                    <h2 class="govuk-heading-m"><a href="@Model.ManageAmbassadorsUrl" class="govuk-link govuk-link--no-visited-state">Manage ambassadors</a></h2>
                    <p>Onboard ambassadors who have recently joined the network, learn who have not been active and have left the network.</p>
                    <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-manage-users" /></svg>
                </li>
            }
        </ul>
    </div>
</div>