@model SFA.DAS.Admin.Aan.Web.Models.Account.Error403ViewModel
@{
    ViewBag.Title = "You aren't approved – Apprenticeship Ambassadors Network";
}

<div class="govuk-grid-row">
    @if (Model.UseDfESignIn)
    {
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                You aren't approved to view this page
            </h1>
            <p class="govuk-body">
                To view this page, you need:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>approval to use this service</li>
                <li>the correct service role to access this page</li>
            </ul>
            <p class="govuk-body">
                You can <a href="@Model.HelpPageLink" target="_blank" rel="noopener noreferrer">request access to this service in your DfE Sign-in.</a> You can also use this link to request a higher service role.
            </p>
            <p class="govuk-body">
                The DfE Sign-in approver inside your organisation will need to approve your request.
            </p>
        </div>
    }
    else
    {
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Access denied</h1>
            <p class="govuk-body-l">Your account does not have sufficient privileges.</p>

            <p class="govuk-body">If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
        </div>
    }
</div>
